.custom-bg{
    //background-image: url('/public/img/greenbg.jpg');

    //background-image: url('/public/img/green.jpg');
    //background-size: cover;
    //background: #80CBC4;
    background: linear-gradient(0deg, rgba(224, 242, 241, 0.3) 20%, rgba(107, 217, 204, 0.5) 50%);
}

.main-img-bg{
    background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-35_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=6cbf529486f505eb83248b88e86066e4.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    //height: 100vh;
}

thead{
    color: wheat;
}

.custom-head{
    background-color: rgb(128, 203, 196);
}


.my-height{
    height: 100vh;
}
